@media only screen and (max-width: 1000px) {
  .Teaser>.ContentWrapper>.Controls>.Control {
    font-size: 1em !important;
    padding: 20px 10px !important;
    width: auto !important;
  }

  .Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Title {
    font: 500 1.4em 'Rubik', sans-serif !important;
  }
  
  .Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Description {
    font: 400 1.2em 'Source Sans Pro', sans-serif !important;
  }
}

@media only screen and (max-width: 600px) {
  .Teaser>.ContentWrapper>.Controls>.Control {
    font-size: .8em !important;
    padding: 20px 10px !important;
    width: 120px !important;
  }

  .Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Title {
    font: 500 1.2em 'Rubik', sans-serif !important;
  }
  
  .Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Description {
    font: 400 1em 'Source Sans Pro', sans-serif !important;
    line-height: 1.8rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .Teaser>.ContentWrapper>.Container>.ContentSlide>.ImageWrapper {
    height: auto !important;
    width: auto !important;
  }

  .Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper {
    height: auto !important;
    width: auto !important;
  }

  .Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Indicators {
    width: 38px !important;
    margin-top: 30px !important;
  }

  .Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Indicators>.Indicator {
    width: 9px !important;
    height: 9px !important;
  }
}

.Teaser {
  position: relative;
  background-color: var(--solitude);
  min-height: 100vh;
}

.Teaser>.Wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--mischka);
}

.Teaser>.Wrapper>.Title {
  text-transform: uppercase;
  color: var(--gunsmoke);
  font: 100 1em 'Rubik', sans-serif;
  margin-top: 50px;
}

/* content */
.Teaser>.ContentWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding-top: 4.75rem;
}

/* content - headings */
.Teaser>.ContentWrapper>.Headings {
  display: inherit;
  flex-flow: inherit;
  align-items: inherit;
  padding: 0 3.75rem;
}

.Teaser>.ContentWrapper>.Headings>h3 {
  color: var(--sapphire);
  font: 500 2.15em 'Rubik', sans-serif;
}

.Teaser>.ContentWrapper>.Headings>h2 {
  color: var(--sapphire);
  font: 100 1.2em 'Rubik', sans-serif;
  margin: 25px 0 65px;
}

.Teaser>.ContentWrapper>.Headings>h2>strong {
  font-weight: 500;
}

/* content - controls */
.Teaser>.ContentWrapper>.Controls {
  position: relative;
}

.Teaser>.ContentWrapper>.Controls>.Control {
  cursor: pointer;
  position: relative;
  background: none;
  padding: 20px 40px;
  outline: 0;
  border: 0;
  color: var(--gull-gray);
  font: 500 1.12em 'Rubik', sans-serif;
  text-transform: uppercase;
  transition: .25s;
}

.Teaser>.ContentWrapper>.Controls>.Control.Selected {
  color: var(--persian-blue);
}

/* controls - slider */
.Teaser>.ContentWrapper>.Controls>.Slider {
  display: block;
  position: absolute;
  height: 2px;
  /* width = total available width / total of controls */
  width: calc(100% / 3);
  background-color: var(--persian-blue);
  z-index: 1;
  bottom: 0;
  transition: .25s;
}

.Teaser>.ContentWrapper>.Controls::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--mischka);
  display: block;
  height: 2px;
  width: 100%;
  z-index: 0;
}

/* content - container */
.Teaser>.ContentWrapper>.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--porcelain);
  width: 100%;
  padding: 4.75rem 3.75rem;
}

.Teaser>.ContentWrapper>.Container>.ContentSlide {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Teaser>.ContentWrapper>.Container>.ContentSlide>.ImageWrapper {
  height: 350px;
  width: 400px;
}

.Teaser>.ContentWrapper>.Container>.ContentSlide>.ImageWrapper>.Image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 320px;
  width: 400px;
}

.Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Title {
  color: var(--sapphire);
  font: 500 1.5em 'Rubik', sans-serif;
  margin-bottom: 15px;
}

.Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Description {
  color: var(--sapphire);
  font: 400 1.15em 'Source Sans Pro', sans-serif;
  line-height: 1.75rem;
  margin-bottom: 20px;
}

.Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Indicators {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  margin-top: auto;
}

.Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Indicators>.Indicator {
  height: 10px;
  width: 10px;
  border: 0;
  border-radius: 100%;
  background-color: var(--clay);
}

.Teaser>.ContentWrapper>.Container>.ContentSlide>.Wrapper>.Indicators>.Indicator.Active {
  background-color: var(--navy);
}

/* carousel */
.Teaser>.Wrapper>.Carousel {
  display: grid;
  place-items: center;
  height: auto;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  width: 90%;
  user-select: none;
}

.Teaser>.Wrapper>.Carousel>.Track {
  display: flex;
  align-items: center;

  /* slide track width = slide width * total number of slides */
  width: calc(250px * 14);
  animation: scroll 40s linear infinite;
}

.Teaser>.Wrapper>.Carousel>.Track:hover {
  animation-play-state: paused;
}

.Slide {
  height: 100%;
  padding: 15px 25px;
}

.CompanyLogo {
  filter: saturate(0%);
  opacity: .8;
  height: 45px;
  width: auto;
}

.CompanyLogo.Shorter {
  height: 25px;
}

.CompanyLogo.Taller {
  height: 55px;
}

/* carousel - shadows */
.Teaser>.Wrapper>.Carousel::before,
.Teaser>.Wrapper>.Carousel::after {
  background: linear-gradient(to right, rgba(249, 251, 252, 1) 0%,rgba(255,255,255,0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.Teaser>.Wrapper>.Carousel::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.Teaser>.Wrapper>.Carousel::before {
  left: 0;
  top: 0;
}

/* carousel - animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    /* move slide track leftwards by half of it's width */
    transform: translateX(calc(-250px * 7));
  }
}
