.Products {
  background: var(--solitude);
  min-height: var(--section-min-height);
  padding: var(--padding-desktop);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-x-large);
}

.Products>.Product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 625px;
  max-width: 32rem;
  border: 0;
  border-radius: var(--border-radius);
  padding: 20px 15px 25px;
}

.Products>.Product>.Title {
  color: var(--solitude);
  font: var(--h3-font);
}

.Products>.Product>.ImageWrapper {
  height: 290px;
  width: 100%;
}

.Products>.Product>.ImageWrapper>.Image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.Products>.Product>.Description {
  color: var(--solitude);
  font: 500 1.25em 'Rubik', sans-serif;
  line-height: 1.75rem;
  text-align: center;
}

/* background design */
.Products>.TrackOS {
  background: var(--midnight-express);
  /* background-image: url("./assets/Design2.png");
  background-size: cover; */
}

.Products>.SmartTrac {
  background: var(--klein-blue);
  /* background-image: url("./assets/Design.png");
  background-size: cover; */
}