@media only screen and (max-width: 700px) {
  .RequestADemo {
    padding: var(--padding-mobile) !important;
  }

  .Form {
    width: 100% !important;
  }
}

.RequestADemo {
  background: var(--solitude);
  min-height: var(--section-min-height);
  padding: var(--padding-desktop);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-bottom: 1px solid var(--mischka);
}

.Title {
  color: var(--sapphire);
  font: var(--h2-font);
  margin: 35px 0 20px;
  text-align: center;
}

.Subtitle {
  color: var(--deep-cove);
  font: var(--h3-font);
  text-align: center;
  margin-bottom: 65px;
}

.Form {
  background: var(--persian-blue);
  background: linear-gradient(90deg, var(--persian-blue) 0%, var(--blue-ryb) 100%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--gap-small);
  padding: 1.25rem;
  border: 0;
  border-radius: var(--border-radius);
  min-height: 450px;
  width: 600px
}

.Fieldset {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  gap: var(--gap-small);
  border: 0;
}

.InputWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.InputWrapper>label, .Legend {
  color: var(--white);
  font: var(--medium-strong-font);
  margin-bottom: 6px;
}

.RowContainer {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-small);
}

.RowContainer>* {
  flex: 1;
}

/* Radio Inputs */
.Legend {
  margin: 10px 0;
}

.RadioInputWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}

.Radio {
  border-radius: 50%;
  height: 19px;
  width: 19px;
  outline: 0;
}

.Label {
  color: var(--solitude);
  font: 400 1.09em 'Source Sans Pro', sans-serif;
}

/* Submit Button */
.Button {
  align-self: stretch;
  margin: 12px 12px;
}
