@media only screen and (max-width: 1250px) {
  .Home {
    z-index: -1 !important;
  }

  .RowContainer>.Illustration {
    width: 375px !important;
  }

  .Illustration {
    margin-bottom: 100px;
  }
}

.Home {
  position: relative;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

.RowContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.RowContainer>.Illustration {
  width: 450px;
  animation: pop-up .5s forwards;
  user-select: none;
  z-index: -1000;
}

.ColumnContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-around;
  padding: 4.75rem 3.75rem;
  max-width: 740px;
  gap: 1.75rem;
  animation: pop-up .5s forwards;
}

.ColumnContainer>.Button {
  align-self: flex-start;
}

.LinkParagraph {
  color: var(--white);
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 100;
}

.LinkParagraph>a {
  color: var(--white);
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.LinkParagraph>a:hover {
  filter: brightness(95%);
}

/* other */
.h1 {
  color: var(--white);
  font-family: 'Rubik', sans-serif;
  font-size: 2.25em;
}

.h4 {
  color: var(--white);
  font-family: 'Rubik', sans-serif;
  font-size: 1.22em;
  font-weight: 100;
  line-height: 2rem;
}

/* waves */
.Wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  animation-delay: 0s;
  z-index: -1000;
}

.Wave1 {
  height: 60px;
  background-image: url('./assets/wave1.png');
  background-size: 1000px 60px;
  opacity: .2;
  animation: wavvy 25s linear infinite;
}

.Wave2 {
  height: 50px;
  background-image: url('./assets/wave2.png');
  background-size: 1000px 50px;
  opacity: .2;
  animation: wavvy 30s linear infinite;
}


.Wave3 {
  height: 30px;
  background-image: url('./assets/wave1.png');
  background-size: 1000px 30px;
  opacity: 1;
  animation: wavvy 40s linear infinite;
}

@keyframes wavvy {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
