@media only screen and (max-width: 1250px) {
  Header>.NavBar {
    display: none !important;
  }

  .MenuButton {
    display: block !important;
  }

  .Logo {
    margin-left: 40px !important;
  }
}

@media only screen and (min-width: 1251px) {
  .HamburgerMenu {
    display: none !important;
  }
}

.Header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: .25s;
  z-index: 99;
}

.HeaderWhite {
  background-color: var(--white);
  border-bottom: 1px solid var(--mischka);
}

.HeaderWhite>.NavBar>.NavBarList>.NavBarItem>.DropdownBtn:not(:hover) {
  color: var(--deep-cove);
}

.HeaderWhite>.NavBar>.NavBarList>.NavBarItem>.LinkBtn>a:not(:hover) {
  color: var(--deep-cove);
}

.HeaderWhite>.NavBar>.NavButtons>.LinkBtn>a:not(:hover) {
  color: var(--deep-cove);
}

.HeaderWhite>.NavBar>.Select {
  background-color: var(--shadow-lighter);
  color: var(--tundora);
}

/* navbar */
.NavBar {
  display: flex;
  gap: .5rem;
}

.NavBarList {
  display: flex;
  gap: .5rem;
}

/* menu button */
.MenuButton {
  cursor: pointer;
  display: none;
  background: none;
  border: 0;
  outline: 0;
  margin: 0 40px 0 auto;
}

.MenuButton>.Line {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--porcelain);
  margin-block: 5px;
  border-radius: 4px;
  transition:
    transform .5s,
    opacity .25s;
}

.MenuButton>.LineDark {
  background-color: var(--sapphire);
}

/* menu button animation */
.MenuButton.MenuBtnActive>.Line:nth-child(1),
.MenuButton.MenuBtnActive>.LineDark:nth-child(1) {
  transform:
    translateY(7px)
    rotate(45deg);
}

.MenuButton.MenuBtnActive>.Line:nth-child(2),
.MenuButton.MenuBtnActive>.LineDark:nth-child(2) {
  opacity: 0;
}

.MenuButton.MenuBtnActive>.Line:nth-child(3),
.MenuButton.MenuBtnActive>.LineDark:nth-child(3) {
  transform:
    translateY(-7px) rotate(-45deg);
}

/* hamburger menu */
.HamburgerMenu {
  background: var(--white);
  padding: 1.5rem;
  width: 100%;
  height: auto;
  position: absolute;
  top: 80px;
  right: 0;
  animation: .75s slideDown forwards;
}

.MenuNavBar {
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.MenuNavBar>.NavBarItem>.DropdownBtn:not(:hover),
.MenuNavBar>*>.LinkBtn>a:not(:hover),
.MenuNavBar>*>.LinkBtn>a:not(:hover) {
  color: var(--deep-cove);
}

.MenuNavBar>.NavBarItem>.DropdownBtn:not(:hover),
.MenuNavBar>*>.LinkBtn>a:not(:hover),
.MenuNavBar>*>.LinkBtn>a:not(:hover) {
  color: var(--deep-cove);
}

.RadioOuterContainer {
  display: flex;
  padding: 10px 15px;
  gap: 1rem;
}

.RadioInnerContainer>input {
  accent-color: var(--caribbean-green);
  height: 1.15rem;
  width: 1.15rem;
}

.RadioInnerContainer>label {
  color: var(--deep-cove);
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  margin-left: .5em;
}

/* buttons */
.DropdownBtn:hover,
.LinkBtn>a:hover,
.DropdownBtn:hover>.Arrow>path {
  color: var(--bright-turquoise);
  stroke: var(--bright-turquoise);
}

.DropdownBtn {
  cursor: pointer;
  color: var(--white);
  border: 0;
  outline: 0;
  background: transparent;
  padding: 10px 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  transition: .5s;
}

.DropdownBtn>svg {
  margin-left: 6px;
}

.NavButtons {
  display: flex;
  gap: .5rem;
}

/* select */
.Select {
  cursor: pointer;
  padding: 5px;
  color: var(--white);
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  background: var(--shadow);
  border: 0;
  border-radius: .3rem;
  outline: 0;
  transition: .5s;
}

.Select>option {
  background-color: var(--whisper);
  color: var(--sapphire);
}

/* svgs */
.Logo {
  height: 20px;
  transition: .5s;
}

.Arrow>path {
  transition: .5s;
}

/* animation */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
