@media only screen and (max-width: 1250px) {
  Header>.NavBar {
    display: none !important;
  }

  .MenuButton {
    display: block !important;
  }

  .Logo {
    margin: var(--margin-l-mobile) !important;
  }
}

@media only screen and (min-width: 1251px) {
  .HamburgerMenu {
    display: none !important;
  }
}

.Header {
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: var(--animation-fast);
  z-index: 99;
}

.HeaderWhite {
  background-color: var(--white);
  border-bottom: 1px solid var(--mischka);
}

.HeaderWhite>.NavBar>.NavBarList>.NavBarItem>.DropdownBtn:not(:hover) {
  color: var(--deep-cove);
}

.HeaderWhite>.NavBar>.NavBarList>.NavBarItem>.LinkBtn>a:not(:hover) {
  color: var(--deep-cove);
}

.HeaderWhite>.NavBar>.NavButtons>.LinkBtn>a:not(:hover) {
  color: var(--deep-cove);
}

.HeaderWhite>.NavBar>.Select {
  background-color: var(--shadow-lighter);
  color: var(--tundora);
}

/* navbar */
.NavBar,
.NavBarList,
.NavButtons {
  display: flex;
  gap: var(--gap-tiny);
}

/* menu button */
.MenuButton {
  cursor: pointer;
  display: none;
  background: none;
  margin: var(--margin-r-mobile);
  border: 0;
  outline: 0;
}

.MenuButton>.Line {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--porcelain);
  margin-block: 5px;
  border-radius: 4px;
  transition:
    transform var(--animation-duration),
    opacity .25s;
}

.MenuButton>.LineDark {
  background-color: var(--sapphire);
}

/* menu button animation */
.MenuButton.MenuBtnActive>.Line:nth-child(1),
.MenuButton.MenuBtnActive>.LineDark:nth-child(1) {
  transform:
    translateY(7px)
    rotate(45deg);
}

.MenuButton.MenuBtnActive>.Line:nth-child(2),
.MenuButton.MenuBtnActive>.LineDark:nth-child(2) {
  opacity: 0;
}

.MenuButton.MenuBtnActive>.Line:nth-child(3),
.MenuButton.MenuBtnActive>.LineDark:nth-child(3) {
  transform:
    translateY(-7px) rotate(-45deg);
}

/* hamburger menu */
.HamburgerMenu {
  background: var(--white);
  padding: var(--menu-gap);
  width: 100%;
  height: auto;
  position: absolute;
  top: var(--header-height);
  right: 0;
  animation: var(--animation-duration) slideDown forwards;
}

.MenuNavBar {
  align-items: flex-start;
  flex-direction: column;
  gap: var(--menu-gap);
}

.MenuNavBar>.NavBarItem>.DropdownBtn:not(:hover),
.MenuNavBar>*>.LinkBtn>a:not(:hover),
.MenuNavBar>*>.LinkBtn>a:not(:hover) {
  color: var(--deep-cove);
}

.MenuNavBar>.NavBarItem>.DropdownBtn:not(:hover),
.MenuNavBar>*>.LinkBtn>a:not(:hover),
.MenuNavBar>*>.LinkBtn>a:not(:hover) {
  color: var(--deep-cove);
}

.RadioOuterContainer {
  display: flex;
  padding: 10px 15px;
  gap: var(--gap-tiny);
}

.RadioInnerContainer>input {
  height: 1.15rem;
  width: 1.15rem;
}

.RadioInnerContainer>label {
  color: var(--deep-cove);
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  margin-left: .5em;
}

/* buttons */
.DropdownBtn:hover,
.LinkBtn>a:hover,
.DropdownBtn:hover>.Arrow>path {
  color: var(--bright-turquoise);
  stroke: var(--bright-turquoise);
}

.DropdownBtn {
  cursor: pointer;
  color: var(--white);
  border: 0;
  outline: 0;
  background: transparent;
  padding: 10px 15px;
  font: var(--small-regular-font);
  transition: var(--animation-duration);
}

.DropdownBtn>svg {
  margin-left: 6px;
}

/* select */
.Select {
  cursor: pointer;
  padding: 5px;
  color: var(--white);
  font: var(--small-regular-font);
  background: var(--shadow);
  border: 0;
  border-radius: var(--border-radius);
  outline: 0;
  transition: var(--animation-duration);
}

.Select>option {
  background-color: var(--whisper);
  color: var(--sapphire);
}

/* svgs */
.Logo {
  height: 20px;
  transition: var(--animation-duration);
}

.Arrow>path {
  transition: var(--animation-duration);
}

/* animation */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
