@media only screen and (max-width: 1050px) {
  .Statistics>.Decoration {
    height: 117px !important;
    top: -6% !important;
  }

  .Statistics>.Container>.Heading {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .Statistics {
    padding: 7rem var(--padding-lr-mobile) !important;
  }

  .Statistics>.Container>.ContentWrapper {
    gap: 1.5rem !important;
  }

  .Statistics>.Container>.ContentWrapper>.Statistic>.Title {
    font: var(--h1-font) !important;
    margin-bottom: .6rem !important;
  }

  .Statistics>.Container>.ContentWrapper>.Statistic>.Subtitle {
    font: var(--x-small-regular-font) !important;
    letter-spacing: .05rem !important;
    line-height: 1.6rem !important;
  }
}

.Statistics {
  position: relative;
  background: var(--sapphire);
  display: flex;
  justify-content: center;
  padding: 7rem var(--padding-lr-desktop);
}

.Statistics>.Decoration {
  background-color: var(--sunset-orange);
  position: absolute;
  width: 3px;
  height: 133px;
  right: 50%;
  top: -13%;
}

.Statistics>.Container {
  max-width: 69rem;
}

.Statistics>.Container>.Heading {
  color: var(--solitude);
  font: var(--h2-font);
  text-align: center;
  padding: 0 9rem;
}

.Statistics>.Container>.ContentWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 3.5rem;
  gap: 2rem;
}

.Statistics>.Container>.ContentWrapper>.Statistic {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 21rem;
}

.Statistics>.Container>.ContentWrapper>.Statistic:first-of-type {
  border-right: 1px solid var(--deep-cove);
}

.Statistics>.Container>.ContentWrapper>.Statistic:last-of-type {
  border-left: 1px solid var(--deep-cove);
}

.Statistics>.Container>.ContentWrapper>.Statistic>.Title {
  color: var(--solitude);
  font: 500 3.75em 'Rubik', sans-serif;
  margin-bottom: .5rem;
}

.Statistics>.Container>.ContentWrapper>.Statistic>.Subtitle {
  color: var(--gull-gray);
  font: var(--x-small-strong-font);
  letter-spacing: .1rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}
