@media only screen and (max-width: 1000px) {
  .SocialProof {
    padding: 20px 40px !important;
  }

  .Name {
    font: 600 1.2em 'Source Sans Pro', sans-serif !important;
  }

  .Role {
    font: 300 1.15em 'Source Sans Pro', sans-serif !important;
  }

  .Quote {
    font: 300 1.4em 'Source Sans Pro', sans-serif !important;
    line-height: 2rem !important;
  }

  .Rating {
    width: 135px !important;
    margin: 15px 0 !important;
  }

  .BadgeImageWrapper {
    height: 100px !important;
    width: 100px !important;
  }
}

@media only screen and (max-width: 800px) {
  .SocialProof {
    padding: 15px 35px !important;
  }

  .Name {
    font: 600 1.15em 'Source Sans Pro', sans-serif !important;
  }

  .Role {
    font: 300 1em 'Source Sans Pro', sans-serif !important;
  }

  .Quote {
    font: 300 1.225em 'Source Sans Pro', sans-serif !important;
    line-height: 1.75rem !important;
  }

  .Rating {
    width: 125px !important;
    margin: 10px 0 !important;
  }
}

@media only screen and (max-width: 620px) {
  .SocialProof {
    padding: 10px 20px !important;
  }

  .Name {
    font: 600 1.05em 'Source Sans Pro', sans-serif !important;
  }

  .Role {
    font: 300 .9em 'Source Sans Pro', sans-serif !important;
  }

  .Quote {
    font: 300 1.15em 'Source Sans Pro', sans-serif !important;
    line-height: 1.5rem !important;
  }

  .Rating {
    width: 105px !important;
    margin: 5px 0 !important;
  }

  .FloatLeft {
    left: 1rem !important;
  }

  .FloatRight {
    right: 1rem !important;
  }

  .Track {
    right: 47.02% !important;
  }
}

.Testimonials {
  background-color: var(--solitude);
  min-height: var(--section-min-height);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: var(--padding-tb-desktop);
}

/* Wrapper */
.Wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--padding-tb-desktop) var(--padding-lr-mobile) 2rem;
}

/* Wrapper - Badges */
.Badges {
  display: flex;
  gap: var(--gap-medium);
}

/* Wrapper - Heading */
.Heading {
  color: var(--sapphire);
  font: var(--h2-font);
  margin: 35px 0 20px;
  text-align: center;
}

/* Slider */
.Slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
}

/* Slider - Shadows */
.Slider::before,
.Slider::after {
  background: linear-gradient(to right, rgba(249, 251, 252, 1) 0%,rgba(255,255,255,0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 150px;
  z-index: 2;
}

.Slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.Slider::before {
  left: 0;
  top: 0;
}

/* Slider - Track */
.Track {
  position: relative;
  right: 42.05%;
  display: flex;
  height: 350px;
  gap: var(--gap-large);
}

/* Social Proof Card */
.SocialProof {
  background-color: var(--white);
  width: 60%;
  height: 340px;
  border: 0;
  border-radius: var(--border-radius);
  padding: 30px 50px;
  box-shadow: 0 0.25rem 0.5rem var(--shadow);
  flex-shrink: 0;
}

/* Social Proof Card - Content */
.Author {
  display: flex;
}

.Info {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 1.15rem;
}

.Name {
  color: var(--scorpion);
  font: 600 1.3em 'Source Sans Pro', sans-serif;
  margin-bottom: .25rem;
}

.Role {
  color: var(--tundora);
  font: 300 1.3em 'Source Sans Pro', sans-serif;
}

.Quote {
  color: var(--mine-shaft);
  font: 300 1.5em 'Source Sans Pro', sans-serif;
  line-height: 2.25rem;
}

/* Slider - Button */
.SliderButton {
  cursor: pointer;
  background: white;
  border: 0;
  border-radius: var(--border-radius);
  height: 3rem;
  width: 3rem;
  box-shadow: 0 0.25rem 0.5rem 0 var(--shadow);
  opacity: .9;
  bottom: 50%;
  z-index: 10;
}

.SliderButton:hover {
  filter: brightness(var(--dim-filter));
}

.FloatLeft {
  position: absolute;
  left: 2rem;
}

.FloatRight {
  position: absolute;
  right: 2rem;
}

/* Button */
.Button {
  align-self: center;
}

/* Images */
.Rating {
  height: 32px;
  width: 160px;
  margin: 20px 0;
}

.BadgeImageWrapper {
  height: 120px;
  width: 120px;
}

.PersonImageWrapper {
  height: 60px;
  width: 60px;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
