/* App */
.App {
  position: relative;
}

/* Common Components */
.Button {
  cursor: pointer;
  color: var(--white);
  border: 0;
  border-radius: var(--border-radius);
  outline: 0;
  background: var(--caribbean-green);
  padding: 10px 20px;
  font: var(--small-strong-font);
  user-select: none;
  align-self: flex-start;
  transition: .3s;
}

.ButtonAlt {
  cursor: pointer;
  color: var(--sapphire);
  border: 0;
  border-radius: var(--border-radius);
  outline: 0;
  background: var(--magic-mint);
  padding: 10px 20px;
  font: var(--small-strong-font);
  user-select: none;
  transition: .3s;
}

.ButtonAltDark {
  cursor: pointer;
  color: var(--white);
  border: 0;
  border-radius: var(--border-radius);
  outline: 0;
  background: var(--dodger-blue);
  padding: 10px 20px;
  font: var(--small-strong-font);
  user-select: none;
  transition: .3s;
}

.LinkBtn {
  border: 0;
  outline: 0;
  background: transparent;
  padding: 10px 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
}

.LinkBtn>a {
  color: var(--white);
  transition: .5s;
}

.LinkBtn>a:hover {
  color: var(--bright-turquoise);
  stroke: var(--bright-turquoise);
}

.Switch {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
  border: 1px solid var(--gull-gray);
  border-radius: var(--border-radius);
  width: 100%;
}

.Switch>.SwitchBtn {
  cursor: pointer;
  background: var(--white);
  font: var(--small-strong-font);
  padding: 10px 20px;
  border: 0;
  outline: 0;
  user-select: none;
  transition: .3s;
  flex: 1;
}

.Switch>.SwitchBtn:first-of-type {
  color: var(--dodger-blue);
  border-right: 1px solid var(--gull-gray);
  border-radius: .3rem 0 0 .3rem;
}

.Switch>.SwitchBtn:last-of-type {
  color: var(--deep-cove);
  border-radius: 0 .3rem .3rem 0;
}

.Switch>.SwitchBtn.Active:first-of-type {
  color: var(--white);
  background: var(--dodger-blue);
}

.Switch>.SwitchBtn.Active:last-of-type {
  color: var(--white);
  background: var(--deep-cove);
}

.Button:hover,
.ButtonAlt:hover,
.ButtonAltColored:hover,
.SwitchBtn:hover {
  filter: brightness(var(--dim-filter));
}

/* Common Styles */
.hidden {
  display: none;
}

.ml--10 {
  margin-left: 10rem;
}
