@charset "utf-8";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Source+Sans+Pro:wght@300;400&display=swap');

:root {
  /* Color Variables */
  --persian-blue: #1F37C0;
  --klein-blue: #001BB8;
  --navy: #020D77;
  --deep-cove: #07074E;
  --sapphire: #08084C;
  --dodger-blue: #1774F0;
  --deep-sky-blue: #05AFF3;
  --caribbean-green: #03D8A9;
  --bright-turquoise: #03F6C2;
  --magic-mint: #9AEFDC;
  --white: #FFFFFF;
  --solitude: #F9FBFC;
  --porcelain: #ECF0F1;
  --whisper: #E5E8EB;
  --mischka: #DDDFE4;
  --link-water: #D0D5DA;
  --clay: #BBC3CE;
  --gull-gray: #9da9b6;
  --faint: #1A1B30;
  --mirage: #1B1F32;
  --midnight-express: #18182E;
  --tundora: #404040;
  --gunsmoke: #818383;
  --shadow-lighter: #0000000F;
  --shadow: #0000002b;

  /* Dimensions */
  --header-height: 5rem;
  --home-min-height: calc(100vh - var(--header-height));
  --section-min-height: 100vh;
  
  /* Margins */
  --home-margin-top: var(--header-height);
  --margin-l-mobile: 0 auto 0 2.18rem;
  --margin-r-mobile: 0 2.18rem 0 auto;

  /* Paddings */
  --padding-desktop: 4.75rem 3.75rem;
  --padding-mobile: 4.75rem 2.18rem;
  --padding-tb-desktop: 4.75rem;
  --padding-tb-mobile: 4.75rem;
  --padding-lr-desktop: 3.75rem;
  --padding-lr-mobile: 2.18rem;

  /* Borders */
  --border-radius: .3rem;
  --border-radius-circle: 100%;

  /* Gaps */
  --gap-x-large: 2rem;
  --gap-large: 1.75rem;
  --gap-medium: 1.5rem;
  --gap-small: 1rem;
  --gap-tiny: .5rem;
  --menu-gap: 1.5rem;

  /* Fonts */
  --x-small-regular-font: 400 .9em 'Rubik', sans-serif;
  --small-strong-font: 500 1em 'Rubik', sans-serif;
  --small-regular-font: 400 1em 'Rubik', sans-serif;
  --small-thin-font: 100 1em 'Rubik', sans-serif;
  --medium-regular-font: 400 1.15em 'Source Sans Pro', sans-serif;
  --large-regular-font: 400 1.25em 'Rubik', sans-serif;
  --large-strong-font: 500 1.25em 'Rubik', sans-serif;

  --h1-font: 500 2.25em 'Rubik', sans-serif;
  --h2-font: 500 2.15em 'Rubik', sans-serif;
  --h3-font: 100 1.2em 'Rubik', sans-serif;
  --h4-title-font: 500 1.5em 'Rubik', sans-serif;
  --h4-sub-font: 400 1.3em 'Source Sans Pro', sans-serif;

  /* Other */
  --dim-filter: 95%;
  --animation-duration: .5s;
  --animation-fast: .25s;
  --carousel-duration: 40s;
}

/* CSS Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
ul,
ol,
li,
a,
img,
span,
p,
b,
input,
label,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: rgb(1, 27, 182);
  background: linear-gradient(0deg, #fff 0%, rgb(50, 50, 189) 100%);
}
