@charset "utf-8";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/* Color Variables */
:root {
  --persian-blue: #1F37C0;
  --klein-blue: #011BB6;
  --navy: #020D77;
  --deep-cove: #07074E;
  --sapphire: #08084C;
  --dodger-blue: #1774F0;
  --deep-sky-blue: #05AFF3;
  --caribbean-green: #03D8A9;
  --bright-turquoise: #03F6C2;
  --magic-mint: #9AEFDC;
  --white: #FFFFFF;
  --solitude: #F9FBFC;
  --porcelain: #ECF0F1;
  --whisper: #E5E8EB;
  --mischka: #DDDFE4;
  --link-water: #D0D5DA;
  --gull-gray: #9da9b6;
  --midnight-express: #18182E;
  --tundora: #404040;
  --gunsmoke: #818383;
  --shadow-lighter: #0000000F;
  --shadow: #0000002b;
}

/* CSS Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
ul,
ol,
li,
a,
img,
span,
p,
b,
input,
label,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: rgb(1, 27, 182);
  background: linear-gradient(0deg, rgba(1, 27, 182, 1) 0%, rgb(50, 50, 189) 100%);
}

/* App */
.App {
  position: relative;
}

/* Common Components */
.Button {
  cursor: pointer;
  color: var(--white);
  border: 0;
  border-radius: .3rem;
  outline: 0;
  background: var(--caribbean-green);
  padding: 10px 20px;
  font: 500 1em 'Rubik', sans-serif;
  transition: .3s;
  user-select: none;
}

.Button:hover {
  filter: brightness(95%);
}

.LinkBtn {
  border: 0;
  outline: 0;
  background: transparent;
  padding: 10px 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
}

.LinkBtn>a {
  color: var(--white);
  transition: .5s;
}

.LinkBtn>a:hover {
  color: var(--bright-turquoise);
  stroke: var(--bright-turquoise);
}

/* Common Styles */
.hidden {
  display: none;
}

.ml--10 {
  margin-left: 10rem;
}